<h1>Todos</h1>

<form {{on "submit" this.createTodo}}>
  <Input
    type="text"
    @value={{this.newTodoName}}
    data-test-todo-name-field
  />
  {{#if this.newTodoNameError}}
    <p data-test-todo-name-error>
      {{this.newTodoNameError}}
    </p>
  {{/if}}
  <button type="submit" data-test-create-todo>
    Create
  </button>
</form>

<ul>
  {{#each @model as |todo|}}
    <li data-test-todo-list-item>
      {{todo.name}}
    </li>
  {{/each}}
</ul>
